/* p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-family: papyrus;
/* } */

.underline{
    text-decoration-line: underline;
}

.whiteText { color: white;}

.blackText{
    color: black;
}